<head>
    <title>GreenChats | <%= firstname %> <%= lastname %></title>
    <script src="scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="top_bar">
        <input type="search" id="searchPages" name="searchPages" placeholder="Search">
        <div id="searchResults" name="searchResults"></div>
    </div>
    <div id="main_body">
        <%- content %>
    </div>
</body>
