<% extend('base') %>

<h3>Your Newsfeed</h3>
<form name="blogForm" id="blogForm" method="POST" enctype="multipart/form-data">
    <textarea name="blog"></textarea><br>
    <input type="file" accept="audio/*, video/*, image/*" name="uploadFiles" id="uploadFiles" multiple><br>
    <input type="submit" value="Share"></input>
</form>
<% for (var i in resultPosts) { %>
    <div class="blogPost">
        <h5><%= resultPosts[i]['firstname'] %> <%= resultPosts[i]['lastname'] %></h5>
        <article><%- resultPosts[i]['postText'].replace(/\n/g, "<br>") %></article>
    </div>
<% } %>
