<head>
    <title>GreenChats | <%= page_name %></title>
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
</head>
<body>
    <div id="main_body">
        <%- content %>
    </div>
</body>
