<!DOCTYPE html>
<html>
    <head>
        <title>GreenChats | Find Friends</title>
        <link type="text/css" rel="stylesheet" href="/static/standard.css" />
        <script src="/static/jquery.min.js" type="text/javascript" ></script>
    </head>
    <body>
        <div id="top_image">
        </div>
        <div id='logout'>
            <form action="/logout">
                <input type="submit" value="Logout" />
            </form>
        </div>
        <div id="profileActions">
            <form action="/profile">
                <input type="submit" value="Profile" />
            </form>
            <form action="/findFriends">
                <input type="submit" value="Friends" />
            </form>
        </div>
        <div id="main_page">
            <div class="main_body">
                <h5>Find Friends</h5>

                <p><%= message %></p>
            </div>

        </div>
    </body>
</html>
