<!DOCTYPE html>
<html>
    <head>
        <title>GreenChats | Find Friends</title>
        <link type="text/css" rel="stylesheet" href="/static/standard.css" />
    </head>
    <body>
        <div id="top_image">
        </div>
        <div id='logout'>
            <form action="/logout">
                <input type="submit" value="Logout" />
            </form>
        </div>
        <div id="profileActions">
            <form action="/profile">
                <input type="submit" value="Profile" />
            </form>
            <form action="/findFriends">
                <input type="submit" value="Friends" />
            </form>
        </div>
        <div id="main_page">	
            <div class="main_body">
                <form method="post">
                    First Name: <input type="text" name="searchFirst" value="<%= currentFirst %>" /><br>
                    Last Name: <input type="text" name="searchLast" value="<%= currentLast %>" /><br>
                    <input type="submit" value="Search" />
                </form>
                <% if (results.length > 0) { %>
                    <% for (result in results) { %>
                        <div class="friend">
                            <h3>
                                <a href="/profiles?id=<%= results[result]['acctID'] %>">
                                    <%= results[result]['firstname'] %> <%= results[result]['lastname'] %>
                                </a>
                            </h3>
                        </div>
                    <% } %>
                <% } %>
                <p><%= message %></p>
            </div>
            
        </div>
    </body>
</html>