<DOCTYPE html>
<html>
	<head>
		<title>GreenChats | Homepage</title>
		<link type="text/css" rel="stylesheet" href="/static/standard.css" />
	</head>
	<body>
		<div id="top_image">
		</div>
		<div id="main_page">	
			<div class="main_body">
				<h3>Welcome to Greenchats!</h3>
				<form>
					<h5>Log In or <a href="/signup">Sign Up</a>!</h5>
					Email:
					<br><input type="text" name="enterEmail"><br>
					Password:
					<br><input type="password" name="enterPass"><br>
				</form>
				<div class="button">
					<a href="/chats">Log In</a>
				</div>

			</div>
		</div>
	</body>
</html>