<!DOCTYPE html>
    <html>
        <head>
            <title>GreenChats | Homepage</title>
            <link type="text/css" rel="stylesheet" href="/static/standard.css" />
            <link rel="stylesheet" href="../static/standard.css" type="text/css">

        </head>
        <body>
            <div id="top_image">
            </div>
            <div id="main_page">	
                <div class="main_body">
                    <h3>Welcome to GreenChats!</h3>
                    <form method="post">
                        <h5>Log In or <a href="/signup">Sign Up</a>!</h5>
                        <p><%= message %></p>
                        Email:
                        <br><input type="text" name="enterEmail"><br>
                        Password:
                        <br><input type="password" name="enterPass"><br>
                        <input type="submit" value="Log In">
                    </form>

                </div>
            </div>
        </body>
    </html>