<% extend('base') %>

<h3>Welcome to GreenChats!</h3>
<p>Sign in below, or join us <a href="/register">here</a>!</p>
<form>
    <input type="text" name="emailEntry" placeholder="Email"><br>
    <input type="password" name="passEntry" placeholder="Password"><br>
    <input type="submit" value="Log In">

</form>

<script>

$('document').ready(function() {

});

</script>
