<!DOCTYPE html>
    <html>
        <head>
            <title>GreenChats | Homepage</title>
            <link type="text/css" rel="stylesheet" href="/static/standard.css" />
            <link rel="stylesheet" href="../static/standard.css" type="text/css">

        </head>
        <body>
            <div id="top_image">
            </div>
            <div id="main_page">
                <div class="main_body">
                    <h3> <%- message %> </h3>
                </div>
            </div>
        </body>
    </html>
