<!DOCTYPE html>
    <html>
        <head>
            <title>GreenChats | Homepage</title>
            <link type="text/css" rel="stylesheet" href="/static/standard.css" />
        </head>
        <body>
            <div id="top_image">
            </div>
            <div id="main_page">	
                <div class="main_body">
                    <h3>Create an Account with GreenChats!</h3>
                    <p>We'll just need some basic information before we
                        can get started:</p>
                    <form method="post">
                        First Name: <input type='text' id='firstname' name='firstname'><br>
                        Last Name: <input type='text' name='lastname' id='lastname'><br>
                        Email: <input type='email' name='email' id='email'><br>
                        Birth Date (mm/dd/yyyy): <input type="date" name="birthdate"><br>
                        Password: <input type='password' name='pass1' id='pass1'><br>
                        Re-enter Password: <input type='password' name='pass2' id='pass2'><br>
                        <h5>The following entries are optional:</h5>
                        Occupation: <textarea name="job_description"></textarea>
                        <p id='notify'><%= message %></p>
                        <input type="submit" value="Create Account">
                    </form>
                </div>
            </div>
        </body>
    </html>