<% extend('base') %>
<h1>Welcome to GreenChats!</h1>
<p>We are excited to have you join us. Please fill in the fields
    below.</p>

<form>
    <input type="text" name="firstname" plaeholder="First name" required>
    <input type="text" name="middlename" placeholder="Middle name">
    <input type="text" name="lastname" placeholder="Last name" required>
</form>
