<% extend('../base') %>
<h1>Welcome to GreenChats!</h1>
<p>We are excited to have you join us. Please fill in the fields
    below.</p>

<form id="signupForm" method="POST">
    <input type="text" name="firstname" placeholder="First name" required>
    <input type="text" name="middlename" placeholder="Middle name">
    <input type="text" name="lastname" placeholder="Last name" required>
    <br>
    <input type="text" name="email" placeholder="Email" required>
    <br>
    <label>Date of Birth</label>
    <select name="birthMonth" id="birthMonth" required>
        <option disabled selected>Month</option>
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
    </select>

    <select name="birthDay" id="birthDay" required>
        <option disabled selected>Day</option>
        <% for (var i = 1; i <= 31; i++) { %>
            <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select>
    <select name="birthYear" id="birthYear" required>
        <option disabled selected>Year</option>
        <% var currentYear = new Date().getFullYear(); %>
        <% for (var i = currentYear - 100; i <= currentYear; i++) { %>
            <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select>
    <br>
    <input id="passEntry1" name="passEntry1" type="password" placeholder="Password"><br>
    <input id="passEntry2" name="passEntry2" type="password" placeholder="Re-enter Password"><br>
    <div id="passwordMessage"></div>
    <button type="submit">Sign Up</button>
</form>

<script>

var progressTimeout = null;

function passwordsMatch() {
    if ($("#passEntry1").val() !== $("#passEntry2").val()) {
        return false;
    }
    return true;
}

function checkPasswords() {
    if (passwordsMatch() === false) {
        $("#passwordMessage").html("<p style='color: red'>Passwords must match.</p>");
    }
    else {
        $("#passwordMessage").html("");
    }
}

$(document).ready(function() {
    $('#birthMonth').on('change', function() {
        switch ($('#birthMonth').val()) {
            case "September":
            case "April":
            case "June":
            case "November":
                $("#birthDay > option").each(function() {
                    if (this.value > 30) {
                        this.remove();
                    }
                });
                break;
            case "February":
                $("#birthDay > option").each(function() {
                    if (this.value > 29) {
                        this.remove();
                    }
                });
                break;
            default:
                if ($("#birthDay option").length < 31) {
                    $('#birthDay').append($('<option>', {
                        value: 30,
                        text: '30'
                    }));
                }
                if ($("#birthDay option").length < 32) {
                    $('#birthDay').append($('<option>', {
                        value: 31,
                        text: '31'
                    }));
                }
                break;
        }
    });

    $("#passEntry1").on("keydown paste", function() {
		if (progressTimeout) {
			clearTimeout(progressTimeout);
		}
		progressTimeout = setTimeout(checkPasswords, 500);
	});

    $("#passEntry2").on("keydown paste", function() {
		if (progressTimeout) {
			clearTimeout(progressTimeout);
		}
		progressTimeout = setTimeout(checkPasswords, 500);
	});

    $('#signupForm').on('submit', function(e) {
        if (!passwordsMatch()) {
            e.preventDefault();
        }
        else if ($('#firstname').val() === "" || $('#lastname').val() === "") {
            e.preventDefault();
            alert("Please enter a first and last name.");
        }
        else if ($('#email').val() === "") {
            e.preventDefault();
            alert("Please enter your email.");
        }
    });
});
</script>
