<% extend('../base') %>
<h1>Welcome to GreenChats!</h1>
<p>We are excited to have you join us. Please fill in the fields
    below.</p>

<form>
    <input type="text" name="firstname" placeholder="First name" required>
    <input type="text" name="middlename" placeholder="Middle name">
    <input type="text" name="lastname" placeholder="Last name" required>
    <br>
    <label>Date of Birth</label>
    <select name="birthMonth">
        <option disabled selected>Month</option>
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
    </select>

    <select name="birthDay">
        <option disabled selected>Day</option>
        <% for (var i = 1; i <= 31; i++) { %>
            <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select>
    <select name="birthYear">
        <option disabled selected>Year</option>
        <% var currentYear = new Date().getFullYear(); %>
        <% for (var i = currentYear - 100; i <= currentYear; i++) { %>
            <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select>
</form>

<script>
$(document).ready(function() {
    $('#birthMonth').on('change', function() {
        alert($('#birthMonth').val());
    });
});
</script>
